body{font-family:'DM Sans',sans-serif;font-size:18px;line-height:1.56;color:#5e5e5e;font-weight:normal;letter-spacing:normal;}
a,a:hover,button,button:hover{transition:all 0.3s ease;text-decoration:none;}
p:last-child{margin-bottom:0;}
h1,h2,h3,h4,h5,h6{color:#292929;letter-spacing:-1px;line-height:normal;font-weight:bold;}
h1{font-size:48px;}
h2{font-size:35px;}
h3{font-size:32px;}
h4{font-size:30px;}
h5{font-size:25px;}
h6{font-size:22px;}
.colorw{color:#ffffff;}
.yellow-btn,.menu--header-support .nav-link,body.scrolled.node--type-home .menu--header-support .nav-link{padding:12px 30px;border-radius:23px;box-shadow:0 20px 40px 0 rgba(101,72,25,0.4);background-color:#eaa022;font-size:16px;line-height:normal;text-align:center;color:#fff;display:inline-block;font-weight:500;}
.yellow-btn:hover{box-shadow:none;color:#fff;}
.menu--header-support .nav-link,body.scrolled.node--type-home .menu--header-support .nav-link{box-shadow:none;padding:12px 40px;margin-left:20px;border:solid 1px #eaa022;}
.menu--header-support .nav-link:hover,body.scrolled.node--type-home .menu--header-support .nav-link:hover{border:solid 1px #eaa022;background:none;color:#eaa022;}
.node--type-home .menu--header-support .nav-link{border:solid 1px #fff;background:none;color:#fff;}
.node--type-home .menu--header-support .nav-link:hover{background-color:#ffffff;color:#eaa022;border:solid 1px #ffffff;}
.yellow-btn:focus,.yellow-btn:active{background-color:#a97111;box-shadow:none;}
.white-btn{padding:12px 30px;border-radius:23px;box-shadow:0 20px 40px 0 rgba(131,81,0,0.4);background-color:#fff;font-size:16px;line-height:normal;text-align:center;color:#d5974a;display:inline-block;font-weight:500;}
.white-btn:hover{box-shadow:none;color:#d5974a;}
.white-btn:focus,.white-btn:active{background-color:#fff;box-shadow:none;}
.green-shadow{box-shadow:0 20px 40px 0 rgba(17,81,84,0.6);}
.header .navbar{padding-top:0px;padding-bottom:0px;}
.node--type-home .navbar-brand{padding:15px 0px;}
.navbar-brand{padding:0;}
.header{position:fixed;width:100%;background:#ffffff;z-index:15;}
.path-frontpage .header{background:transparent;}
body.scrolled header,body.scrolled.path-frontpage .header{background:#ffffff;box-shadow:0px 0px 20px 0px #8c8b8b14;transition:all .3s cubic-bezier(.77,0,.175,1);box-shadow:0px 0px 20px 0px #5d5d5d63;}
body.scrolled.scrolldown header{-webkit-transform:translateY(-510px);transform:translateY(-510px);transition:all .3s cubic-bezier(.77,0,.175,1);}
body.scrollup header{transform:translateY(0);transition:all .3s cubic-bezier(.77,0,.175,1);}
.ultimenu,.block-ultimenu{position:static;width:100%;}
.ultimenu--main .ultimenu__link,.ultimenu .ultimenu__ajax{padding:33px 23px;min-height:auto;font-size:15px;line-height:normal;color:rgb(52 71 80 / 80%);font-weight:500;}
.ultimenu.ultimenu--hover .ultimenu__link{padding-left:23px;}
.navbar-brand{margin-right:20px;}
.ultimenu--hover .ultimenu__flyout{top:100%;}
.ultimenu--basic .ultimenu__flyout{background-color:#ffffff;box-shadow:0px 4px 6px 0 rgba(0,0,0,0.07);}
.ultimenu--htb .ultimenu__region{box-shadow:none;border-radius:0;}
.block .ultimenu__flyout .ultimenu__region{padding:0;max-width:1300px;margin:0 auto;}
.ultimenu--htb .ultimenu__flyout,.ultimenu--htb .ultimenu__region{border-radius:0;}
.view-services-menu .field-content a{color:#3a4951;font-size:17px;line-height:1.24;padding-bottom:20px;display:block;}
.ultimenu__item ul.nav{display:block;}
.ultimenu{display:flex;justify-content:flex-end;}
.ultimenu__item ul.nav .nav-link{color:#292929;padding-left:0;}
.propos-page-wrap .section-des-wrap .section-des-left, .propos-page-wrap .section-des-wrap .section-des-right, .propos-page-wrap .section-subdes-left, .propos-page-wrap .section-subdes-right,.sol-list-content .sol-list-desc{line-height: 1.75;}
.ultimenu__item .nav-link{    transition: all 0.3s ease;}
.ultimenu--main .ultimenu__link:hover,.view-services-menu .field-content a:hover,.ultimenu__item ul.nav .nav-link:hover,.ultimenu__item.is-active-trail .is-active,.ultimenu__item ul.nav .nav-link.active{color:#eaa022;}

/*.ultimenu__link.is-active:after, .ultimenu .ultimenu__link:hover:after, .ultimenu__item.is-active-trail.has-ultimenu:after{content: ""; display: block;background: rgb(234 160 34 / 20%);width: 105px;height: 85px;width: 106px;height: 89px; position: absolute;    top: 50%;left: 50%; transform: translate(-50%, -50%);}*/
.ultimenu .menu-item--expanded > .nav-link,.ultimenu .block-menu .nav-item:first-child .nav-link{font-size:18px;font-weight:500;}
.ultimenu .block-menu{list-style:none;padding-left:0;}
.ultimenu .block-menu .nav-link{font-size:16px; line-height: 16px;display:inline-block;padding:0;margin:11px 10px 11px 0px}
.ultimenu .ultimenu__link{position:relative;}
.layout-main-wrapper{padding-top:87px;}
.path-frontpage .layout-main-wrapper{padding-top:0px;}
.ultimenu__item.is-active-trail.has-ultimenu,.ultimenu--main .ultimenu__link:hover,.ultimenu__item.is-active-trail .is-active,body.scrolled.node--type-home .ultimenu--main .ultimenu__link:hover{background:rgb(234 160 34 / 20%);}
.ultimenu__item.is-active-trail.has-ultimenu > span,body.scrolled.node--type-home .ultimenu .ultimenu__link:hover{color:#eaa022;}
.ultimenu--main .ultimenu__item.has-ultimenu .ultimenu__link:hover:after,body.scrolled.path-frontpage .ultimenu--main .ultimenu__item.has-ultimenu .ultimenu__link:hover:after, .is-active-trail.ultimenu__item.has-ultimenu > span.ultimenu__link:after{border:solid #eaa022;border-width:0 1px 1px 0;display:inline-block;}
.path-frontpage .ultimenu--main .ultimenu__item.has-ultimenu .ultimenu__link:hover:after{border:solid #ffffff;border-width:0 1px 1px 0;display:inline-block;}
.search-icon-wrap:hover .search-icon-inner,body.scrolled.node--type-home .search-icon-wrap:hover .search-icon-inner{background:url(../images/icon-search-yellow.svg) no-repeat;}
.footer-block-wrap .nav .nav-link:hover,.region-footer-third .content a:hover,.region-footer-fourth .content a:hover,.cpy-link:hover{color:#eaa022;}
.region-footer-third .content a,.region-footer-fourth .content a{color:#292929;}
.menu--liens-utiles h2,.region-footer-third h2,.region-footer-fourth h2{letter-spacing:2px;color:#292929;font-size:16px;font-weight:bold;text-transform:uppercase;margin-bottom:25px;}
.footer-block-wrap .nav{display:block;}
.footer-block-wrap .nav .nav-link{padding:14px 0px;font-size:16px;color:#292929;display:inline-block;}
.region-footer-third,.region-footer-fourth{font-size:16px;line-height:1.5;color:#292929;}
.region-footer-third p{margin-bottom:0;}
.region-footer-third .content{padding-top:13px;padding-bottom:13px;}
.region-footer-fourth .foo-phoneno{padding-bottom:10px;}
.region-footer-fourth .wsite-address-wrap:before{content:"";display:block;background:url(../images/location-icon.svg) no-repeat;width:25px;height:21px;flex:0 0 auto;}
.region-footer-fourth .footer-hours-wrap:before{content:"";display:block;background:url(../images/clock-icon.svg) no-repeat;width:27px;height:20px;flex:0 0 auto;margin-top:4px;}
.region-footer-fourth .foo-phoneno:before{content:"";display:block;background:url(../images/phone-icon.svg) no-repeat;width:27px;height:20px;flex:0 0 auto;}
.region-footer-fourth .foo-emailid:before{content:"";display:block;background:url(../images/email-icon.svg) no-repeat;width:27px;height:20px;flex:0 0 auto;margin-top:4px;}
.region-footer-fourth .wsite-address-wrap{margin-bottom:30px;line-height:1.56;}
.region-footer-fourth .footer-hours{line-height:1.69;}
.region-footer-first{padding-bottom:53px;}
.footer-link-block{padding-bottom:150px;}
.region-footer-fifth .copyright-text,.cpy-link{font-size:14px;color:#9e9e9e;}
.region-footer-fifth{padding-bottom:33px;}
.contact-footer-wrap{padding-top:15px;}
.contact-block{background:#252525;padding-top:88px;padding-bottom:73px;}
.black-contact-block .black-contact-left h1{margin-bottom:36px;}
.black-contact-block .black-contact-right h1{margin-bottom:30px;font-size:45px;}
.black-contact-block{padding-left:114px;padding-right:114px;}
.footer-block-wrap{margin-top:-40px;}
.black-contact-right{padding-left:100px;padding-top:84px;}
.black-contact-subtitle{font-size:20px;padding-bottom:7px;}
.black-contact-text a{color:#ffffff;}
.banner-text-block{position:absolute;width:100%;top:200px;}
.slick--view--homepage-slider{padding:0;position:relative;}
.bg-banner-img img{width:100%;height:800px;object-fit:cover;}
.banner-text-img{box-shadow:66px 93px 61px 0 #0a080829;display:inline-block;border-radius:100px;position:relative;z-index:1;}
.banner-text-subtitle{font-size:12px;font-weight:bold;line-height:normal;letter-spacing:1.5px;color:#fff;text-transform:uppercase;padding-bottom:21px;}
.banner-text-title{font-size:60px;font-weight:bold;line-height:0.97;letter-spacing:-1.5px;color:#fff;padding-bottom:33px;}
.banner-text-title span{color:#ffe4b9;}
.home-banner-slider-wrap .slick-dots{left:77px;right:0;top:50%;display:flex;flex-direction:column;width:77px;transform:translateY(-50%);bottom:auto;}
.banner-text-wrap{padding-left:107px;position:relative;z-index:99;}
.home-banner-slider-wrap .slick-dots li button,.home-banner-slider-wrap .slick-dots li{width:3px;height:40px;}
.home-banner-slider-wrap .slick-dots li button::before{width:1px;background:#fff;content:"";height:40px;opacity:1;}
.home-banner-slider-wrap .slick-dots li.slick-active button:before{width:3px;margin-left:-1px;}
.banner-text-left{position:relative;}
.banner-text-wrapper-inner{position:relative;z-index:1;}
.banner-counter{position:absolute;top:-100px;line-height:0.83;letter-spacing:-15px;color:#fff;font-size:600px;font-weight:bold;opacity:0.08;right:-36px;}
.home-banner-slider-wrap .slick-dotted.slick-slider{margin-bottom:0;}
.scroll-btn-wrap{margin-top:-65px;position:relative;z-index:1;}
.notre-offre-wrap{padding-top:120px;}
.notre-offre-wrap h1{margin-bottom:50px;}
.notre-img-block{display:flex;padding-bottom:31px;}
.notre-right-title{font-size:12px;text-transform:uppercase;letter-spacing:5px;font-weight:bold;color:#292929;writing-mode:vertical-rl;padding-left:10px;}
.notre-subtitle{font-size:12px;font-weight:bold;letter-spacing:1.5px;color:#292929;padding-bottom:16px;}
.notre-title{margin-bottom:11px;}
.notre-des-text{padding-bottom:28px;    color: #5e5e5e;}
.multi-text-link{font-size:16px;color:#292929;display:block;margin:8px 0px;line-height:20px;}
.multi-text-link:hover,.ultimenu .block-menu .nav-link:hover{border-left:solid 2px #eaa022;color:#eaa022;padding-left:9px;}
.yellow-text-link{font-size:20px;font-weight:bold;color:#eaa022;line-height:1.3;display:flex;}
.yellow-text-link:after{content:"";display:block;background:url(../images/yellow-arrow-right.svg) no-repeat;width:24px;height:24px;margin-left:8px;flex:0 0 auto;transition:all 0.3s ease;margin-top:2px;}
.yellow-text-link:hover,.product-item-wrap:hover .yellow-text-link, .yellow-link-hover:hover .yellow-text-link{color:#292929;}
.yellow-text-link:hover:after,.product-item-wrap:hover .yellow-text-link:after, .yellow-link-hover:hover .yellow-text-link:after{margin-left:16px;transition:all 0.3s ease;}
.propos-text-wrap{padding-top:80px;}
.black-subtitle{font-size:16px;font-weight:bold;letter-spacing:2px;color:#292929;text-transform:uppercase;padding-bottom:22px;}
.service-banner-desc{max-width:768px;padding-bottom:65px;line-height:1.13;}
.propos-para-inner .propos-para-item:nth-child(odd){background-color:rgb(241 241 245 / 60%);}
.propos-para-inner .propos-para-item{padding:86px 54px 70px 75px;}
.propos-para-item .propos-icon{padding-bottom:25px;}
.propos-para-item .propos-para-title{margin-bottom:31px;}
.learn-more-wrap{margin-top:30px;margin-bottom:80px;}
.mps-inner .mps-left,.mps-inner .mps-right{padding:0;}
.mps-inner{align-items:center;background-image:linear-gradient(to bottom right,#3f969b,#347578);}
.mps-inner .mps-right{padding:20px 125px;}
.mps-inner .white-subtitle{font-weight:bold;letter-spacing:2px;margin-bottom:30px;font-size:16px;}
.mps-desc{font-size:40px;line-height:1.25;letter-spacing:-1px;margin-bottom:33px;}
.reference-block-wrap{margin-top:115px;margin-bottom:60px;}
.reference-block-wrap .reference-item{width:20%;padding-bottom:60px;}
.reference-block-wrap .reference-item-title{color:#eaa022;font-size:20px;margin-bottom:32px;letter-spacing:normal;}
.reference-block-wrap .reference-item-text{font-size:16px;line-height:1.5;max-width:176px;}
.partenaires-wrap{background-color:#f1f1f5;padding-top:72px;padding-bottom:10px;}
.partenaires-wrap .partenaires-item img{max-height:70px;width:auto;max-width:150px;}
.partenaires-wrap .partenaires-item{text-align:center;padding-bottom:99px;}
.partenaires-wrap .view-content{align-items:center;}
.partenaires-wrap .view-header{text-align:center;margin-bottom:62px;}
.view-homepage-slider .view-content.row{margin:0;}
.blk-logo{width:70px;height:auto;}

/* support */
.support-title-wrap{background:#f8f8fa;padding:50px 0px;}
.support-contact-block{background:#252525;padding:88px 0px;}
.support-page-wrap .black-contact-title{margin-bottom:36px;}
.support-page-wrap .black-contact-text{font-size:45px;}
.support-page-wrap .black-contact-right{padding-top:97px;}
.support-moyens-block-wrap{padding:90px 0px 88px 0px;}
.support-moyens-desc-wrap h2{margin-bottom:30px;}
.support-moyens-logo-wrap{padding-top:66px;}
.support-moyens-desc{font-size:16px;line-height:1.5;max-width:560px;}
.support-form-block{padding-bottom:120px;}
.webform-submission-form .form-control,.form-select{height:60px;border:0;border-radius:0;border-bottom:1px solid #5e5e5e;font-size:18px;font-weight:300;padding:1rem 0;background:transparent;}
.webform-submission-form .form-control:focus{border-bottom-color:#eaa022;box-shadow:none;}
.webform-submission-form label{font-weight:300;color:rgb(94 94 94 / 70%);}
.webform-submission-form textarea.form-control{height:137px;resize:none;min-height:auto;}
.webform-submission-form .message-block{margin-bottom:51px!important;}
.form-floating>.form-control:focus,.form-floating>.form-control:not(:placeholder-shown){padding-top:1.825rem;}
.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label{transform:scale(.75) translateY(-0.5rem) translateX(0.15rem);color:rgba(27,27,27,0.6);}
.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label{opacity:1;}
.form-actions{text-align:right;}
.navbar-nav .nav-item .nav-link{position:relative;transition:all 0.3s ease;}
.form-actions button.form-submit:focus,.form-type-managed-file button.form-submit:focus,.view-realisation-listing .pager a.button:focus,.realis-category a:focus{box-shadow:none;}
.support-form{background-color:#f8f8fa;padding:55px 49px 56px 51px;margin-top:43px;margin-left:-80px;width:731px;}
.support-form-inner .block-webform h2{padding-bottom:30px;}
.yellow-btn.btn-primary{border-color:transparent;}
.yellow-btn.btn-primary:hover{background-color:#eaa022;border-color:transparent;}
.support-form .form-actions{padding-top:15px;}

/* Offres d’emploi */
.offres-emploi-block{padding-top:57px;padding-bottom:90px;}
.offres-emploi-des{max-width:717px;font-size:16px;line-height:1.5;padding-bottom:55px;}
.offres-emploi-inner table thead tr th{background-color:#fff!important;font-size:22px;font-weight:bold;line-height:1.27;letter-spacing:-0.5px;color:#292929;padding:0px 41px 10px 41px!important;}
.offres-emploi-inner .table>:not(caption)>*>*{padding:22px 41px;}
.offres-emploi-inner .table-striped>tbody>tr:nth-of-type(odd){background:rgb(241 241 245 / 50%);--bs-table-accent-bg:transparent;}
.offres-emploi-inner tr{background:#ffffff;}
.table>:not(:last-child)>:last-child>*{border-bottom-color:transparent;}
.table-hover>tbody>tr:hover{--bs-table-accent-bg:transparent;}
.offres-emploi-form-block-wrap{background-image:linear-gradient(295deg,#252525 99%,#2f2e2e 52%,#161616 6%);padding-top:106px;padding-bottom:101px;}
.offres-emploi-form-img h1{margin-bottom:30px;}
.offres-emploi-form-img{padding-right:50px;}
.offres-emploi-form .webform-submission-form label,.offres-emploi-form .webform-submission-form .form-control{color:#ffffff;}
.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label{color:#adadad;}
.offres-emploi-inner tr td,.offres-emploi-inner tr th{border:1px solid transparent;font-size:16px;}
.support-form .form-wrapper{margin-bottom:10px!important;}
.offres-emploi-form .form-wrapper{margin-bottom:0px!important;}
.offres-emploi-form .form-actions{padding-top:15px;}
.offres-emploi-form{padding-top:15px;}
.offres-emploi-inner .table tr td:first-child{font-weight:500;}

/* contact */
.contact-page-wrap .support-form{width:708px;position:relative;z-index:1;margin-top:71px;padding-bottom:70px;    margin-left: -48px;}
.banner-img-wrap .banner-img{width:100%;height:295px;object-fit:cover;display:flex;align-items:center;}
.contact-subtitle{padding-top:64px;}
.contact-address-section{padding-top:31px;color:#292929;padding-bottom:59px;}
.address-block{display:flex;}
.address-block:before{content:"";display:block;background:url(../images/icon-location-pin.svg) no-repeat;width:24px;height:24px;flex:0 0 auto;margin-right:8px;}
.info-phone:before{content:"";display:block;background:url(../images/icon-phone.svg) no-repeat;width:24px;height:24px;flex:0 0 auto;margin-right:8px;}
.info-email:before{content:"";display:block;background:url(../images/icon-email.svg) no-repeat;width:24px;height:24px;flex:0 0 auto;margin-right:8px;}
.info-email,.info-phone{display:flex;align-items:center;}
.contact-address-section h6{margin-bottom:18px;}
.info-phone{padding-bottom:10px;}
.info-email a{font-weight:bold;color:#292929;}
.contact-page-wrap .support-form-block{padding-bottom:60px;}

/* propos */
.propos-text-block{padding-top:64px;padding-bottom:96px;}
.propos-text-block h2{margin-bottom:24px;}
.sub-section-wrap{padding-top:58px;}
.sub-section-wrap h6{margin-bottom:25px;}
.section-subdes-wrap{font-size:16px;}
.section-des-left,.section-des-right,.section-subdes-left,.section-subdes-right{padding-right:40px;}
.equipe-wrap{background-color:#f8f8fa;padding-top:63px;padding-bottom:105px;}
.group-equipe-content{padding-bottom:40px;}
.equipe-director-wrp h2{margin-bottom:50px;}
.equi-dir-title{font-size:18px;font-weight:bold;padding-top:22px;color:#292929;}
.equi-dir-taxo{font-size:16px;font-weight:500;letter-spacing:-0.37px;color:#eaa022;}
.equipe-other-wrp .view-content{padding-top:42px;}
.equipe-director-wrp .view-content .views-row{padding-bottom:40px;}
.equi-other-img{display:none;transition:all 0.3s ease;}
.group-equipe-content h6{margin-bottom:30px;}
.equi-other-title{font-weight:500;color:#292929;line-height:1.39;margin-bottom:18px;}
.equi-other-wrap{cursor:pointer;transition:all 0.3s ease;position:relative;}
.equi-other-img{transition:all 0.3s ease;}
.equi-other-wrap:hover .equi-other-img{display:block;transition:all 0.3s ease;position:absolute;right:0;bottom:50%;transform:translateY(50%);z-index:1;}
.equi-other-wrap:hover .equi-other-title{color:#eaa022;}
.notre-img-inner,.product-item-img{position:relative;overflow:hidden;background-repeat:no-repeat;background-size:cover;background-position:50%;}
.notre-img-inner img,.product-item-img img{transition:all 0.3s ease;}
/*.notre-offre-item:hover{cursor:pointer;}*/
/*.notre-offre-item:hover .notre-img-inner img,*/.product-item-wrap:hover .product-item-img img{transform:scale(1.1);}
.yellow-link-hover:hover{cursor:pointer;}
.yellow-link-hover:hover .notre-img-inner img{transform:scale(1.1);}

/* meterial */
.meterial-top-sec{background:#f8f8fa;padding:107px 0px;}
.met-product-link{font-size:15px;line-height:1.2;color:#fff;background-color:#eaa022;padding:27px 12px 28px 14px;border-radius:100px;width:109px;display:block;box-shadow:0 20px 40px 0 rgb(101 72 25 / 40%);}
.met-product-link:hover{background-color:#ffffff;color:#eaa022;}
.meterial-top-sec-img-inner{position:relative;display:inline-block;}
.met-product-link-wrap{position:absolute;right:-72px;top:25px;transform:rotate(15deg);}
.meterial-top-sec-text .met-product-title{max-width:286px;margin-bottom:20px;}
.met-product-top-subdesc{max-width:518px;margin-bottom:20px;}
.met-product-desc{max-width:534px;padding-bottom:30px;}
.met-product-subdesc h1,.met-product-subdesc h2,.met-product-subdesc h3,.met-product-subdesc h4,.met-product-subdesc h5,.met-product-subdesc h6{font-size:22px;margin-bottom:20px;margin-top:40px;}
.advantage-section{padding-top:50px;}
.met-product-subdesc{font-size:16px;}
.met-product-left-des .met-product-subdesc{max-width:581px;}
.met-product-btn-group{padding-top:45px;}
.advantage-block-title{margin-bottom:15px;}
.caracteristiques-section{padding-top:100px;}
.caracteristiques-block-title{margin-bottom:60px;}
.caracteristiques-section .caracteristiques-item{padding:22px 41px;}
.caracteristiques-section .caracteristiques-item:nth-child(even){background:#f1f1f580;}
.caracteristiques-item .propos-para-title{font-size:16px;color:#292929;margin-bottom:0;letter-spacing:normal;}
.caracteristiques-section .propos-para-text{font-size:16px;color:#292929;}
.caracteristiques-section .propos-para-text ul{padding-left:20px;margin-bottom:0px;padding-top:5px;}
.caracteristiques-section .propos-para-text ul li{margin-bottom:5px;}
.services-lies-wrap .propos-para-text{max-width:387px;font-size:16px;}
.caracteristiques-section .propos-para-text p{margin-bottom:0px;}
.youtube-video-block{padding-top:132px;}
.youtube-para{position:relative;text-align:center;}
.youtube-para .play-btn{background:#eaa022;display:inline-block;width:100px;height:100px;border-radius:100px;display:flex;align-items:center;justify-content:center;transition:all 0.3s ease;}
.play-btn-wrap{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);cursor:pointer;transition:all 0.3s ease;}
.play-btn-wrap:hover{transition:all 0.3s ease;}
.play-btn-wrap:hover .play-btn{transform:scale(1.1);transition:all 0.3s ease;}
.play-btn-wrap:hover .play-btn > img{transform:scale(0.7);height:auto;transition:all 0.3s ease;}
.youtube-para iframe{width:1290px;height:726px;object-fit:cover;}
.play-btn > img{padding-left:8px;transition:all 0.3s ease;}
.met-product-pdf{margin-right:30px;margin-bottom: 25px;}
.services-lies-wrap{padding-top:122px;padding-bottom:102px;}
.services-lies-right{counter-reset:section;padding-top:15px;}
.services-lies-item{padding-bottom:30px;}
.services-lies-item:before{counter-increment:section;content:"0"counter(section);color:#29292933;font-size:22px;font-weight:bold;}
.modal-open .modal{background-color:rgb(27 27 27 / 90%);}
.modal{z-index:9999;}
.view-pop-up-view .modal-dialog{max-width:1112px;}
.view-pop-up-view .modal-header{border-bottom:none;position:absolute;right:0;z-index:1;}
.view-pop-up-view .btn-close{background:none;margin-right:15px;margin-top:5px;opacity:1;}
.view-pop-up-view .btn-close:hover{opacity:0.5;}
.view-pop-up-view .modal-body{padding:0;color:#ffffff;background-image:linear-gradient(to left,#3f969b,#347578);}
.view-pop-up-view .pop-up-view-desc{font-size:16px;line-height:1.5;padding-bottom:39px;}
.right-pop-up-content{padding-left:54px;padding-right:54px;}
.view-pop-up-view .modal-content{border-radius:0;border:none;}
.view-pop-up-view .modal-dialog{padding-left:20px;padding-right:20px;}
.pop-up-view-title{line-height:1.2;color:#ffffff;margin-bottom:20px;}
.search-icon-inner,body.scrolled.node--type-home .search-icon-inner,.node--type-home .search-icon-wrap:hover .search-icon-inner{background:url(../images/icon-search-black.svg) no-repeat;width:24px;height:24px;}
.node--type-home .search-icon-inner{background:url(../images/icon-search-wht.svg) no-repeat;width:24px;height:24px;}
.search-icon-wrap{cursor:pointer;}
.search-block-form.block-search-form-block{position:absolute;top:87px;height:75px;left:0;right:0;z-index:4;width:100%;background-color:#f0f0f0;height:85px;display:none;}
.ultimenu .ultimenu__link{color:#292929;font-size:16px;font-weight:500;}
.node--type-home .ultimenu .ultimenu__link{color:#ffffff;}
.node--type-home .ultimenu--main .ultimenu__link:hover{background:rgb(255 255 255 / 20%);}
body.scrolled.node--type-home .ultimenu .ultimenu__link{color:#292929;}
.ultimenu__item.has-ultimenu .ultimenu__link:after,body.scrolled.node--type-home .ultimenu__item.has-ultimenu .ultimenu__link:after{content:"";margin-left:7px;border:solid #292929;border-width:0 1px 1px 0;display:inline-block;padding:3px;transform:rotate(45deg);-webkit-transform:rotate(45deg);position:relative;top:-3px;width:auto;height:auto;left:0;background:none;}
.node--type-home .ultimenu__item.has-ultimenu .ultimenu__link:after{content:"";margin-left:7px;border:solid #ffffff;border-width:0 1px 1px 0;display:inline-block;padding:3px;transform:rotate(45deg);-webkit-transform:rotate(45deg);position:relative;top:-3px;}
.search-icon-wrap{margin-left:20px;padding-left:5px;padding-right:5px;}
.search-block-form.block-search-form-block form{position:relative;}

/* search */
.search-form.search-block-form .form-control{border-left:none;border-right:none;border-top:none;border-bottom:none;border-radius:0;background-color:transparent;width:530px;font-size:18px;padding-left:0;font-weight:500;letter-spacing:-0.41px;color:#292929;}
.new-search-box .form-type-search,.new-search-box  .form-row .form-actions{display:inline;}
.btn-primary:focus,.btn-check:active+.btn-primary:focus,.btn-check:checked+.btn-primary:focus,.btn-primary.active:focus,.btn-primary:active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:none;}
.search-block-form .btn-primary{font-size:0;background:url(../images/icon-search-black.svg) no-repeat;width:18px;height:20px;border-color:transparent;margin-top:-10px;/*border-bottom:solid 1px #939da2;*/border-radius:0;opacity:1;padding-bottom:19px;}
.search-block-form .form-actions.form-wrapper{position:absolute;left:0;top:33px;}
.search-form.search-block-form .form-control::placeholder{color:#292929;}
.search-block-form.block-search-form-block > .container-inline{max-width:1300px;margin:0 auto;}
header #search-block-form{padding-top:25px;padding-left:40px;}
.form-control:focus{box-shadow:none;}
.node--type-home .blk-logo{display:none;}
body.scrolled.node--type-home .blk-logo{display:block;}
body.scrolled.node--type-home .wht-logo{display:none;}
body.scrolled.node--type-home .navbar-brand{padding:0;}
.path-search .block-system.block-system-main-block{max-width:1320px;margin:0 auto;padding-left:15px;padding-right:15px;}
.path-search .search-form{padding-top:37px;max-width:962px;}
.path-search .form-wrapper{position:relative;}
.path-search .form-type-search label{font-size:22px;font-weight:bold;margin-bottom:24px;color:#292929;}
.path-search .block-system-main-block .search-form .btn-primary{font-size:0;background:url(../images/icon-search-black.svg) no-repeat;width:18px;height:20px;border-color:transparent;margin-top:-10px;border-radius:0;opacity:1;padding-bottom:19px;position:absolute;right:12px;bottom:15px;}
.path-search .block-system-main-block .form-search.form-control{border-left:none;border-right:0;border-top:0;border-bottom:solid 1px #5e5e5e;border-radius:0;padding:12px 0px;font-size:18px;color:rgb(94 94 94 / 70%);}
.path-search input[type="search"i]::-webkit-search-cancel-button{padding-right:40px;}
.path-search .form-control::placeholder{color:rgb(94 94 94 / 70%);}
.path-search .search-help-link,.path-search .block-system-main-block .content > h2,.path-search .list-group-item p em{display:none;}
.path-search .list-group{padding-top:38px;max-width:1070px;}
.path-search .list-group-item{padding:0;border:none;margin-bottom:20px;}
.path-search .list-group-item h3 a,.path-search .list-group-item h3{font-size:22px;font-weight:bold;color:#292929;line-height:1.27;margin-bottom:15px;}
.path-search .block-system-main-block .content{padding-bottom:125px;}
.path-search .list-group-item p{font-size:16px;color:#5e5e5e;line-height:1.5;}
.pagination{display:flex;align-items:center;justify-content:center;padding:69px 0;margin:0;}
.pagination li{margin-right:5px;}
.pagination .page-item.active .page-link,.pagination .page-link:hover,.pagination .page-link:focus{background-color:#eaa022;color:#ffffff;}
.pagination .page-link{border:0;padding:0;background-color:transparent;color:#292929;font-size:16px;width:30px;height:30px;display:flex;align-items:center;justify-content:center;border-radius:30px;box-shadow:none;}
.pagination li.page-item a[title="Go to first page"],.pagination li.page-item a[title="Go to last page"],.pagination li.page-item a[title="Zur ersten Seite"],.pagination li.page-item a[title="Zur letzten Seite"],.pagination li.page-item a[title="Zur ersten Seite"],.pagination li.page-item a[title="Zur letzten Seite"]{display:none;}
.pagination li.pager__item--next{margin-right:0;}
.pagination li.pager__item--next a:hover,.pagination li.pager__item--next a:focus,.pagination li a[rel="prev"]:hover,.pagination li a[rel="prev"]:focus{background-color:transparent;color:#eaa022;}
.pagination .page-item:not(:first-child) .page-link{margin-left:0;}
.page-item .page-link[title="Aller à la dernière page"],.page-item .page-link[title="Aller à la première page"]{display:none;}
.page-item:last-child .page-link,.page-item:first-child .page-link{border-radius:30px;}
.pagination li a[rel="prev"]{font-size:0;background:transparent url(../images/icon-pagchevron-right.svg) no-repeat scroll center/100% auto;width:24px;height:25px;transform:rotate(180deg);}
.pagination li.pager__item--next a{font-size:0;background:transparent url(../images/icon-pagchevron-right.svg) no-repeat scroll center/100% auto;width:24px;height:25px;}
.ultimenu .block-menu.menu--produits-logiciels-metier,.ultimenu .block-menu.menu--services-logiciels-metier{padding-left:180px;}
.ultimenu .block-menu.menu--produits-materiel-grand-format,.ultimenu .block-menu.menu--services-materiel-grand-format{padding-left:100px;}

/* service */
.service-text-block{padding-top:79px;padding-bottom:81px;}
.service-detail-subtitle{margin-bottom:42px;}
.section-des-left,.section-des-right{padding-right:70px;}
.section-des-wrap{padding-bottom:64px;}
.propos-text-block .section-des-wrap{padding-bottom: 0;}
.service-detail-wrap-item h6{margin-bottom:22px;}
.service-detail-wrap-item ul{padding-left:17px;}
.service-detail-wrap-item{padding-bottom:30px;}

/* logiciel */
.logicel-detail-page .logicel-top-sec-wrap{align-items:center;}
.logicel-top-sec{padding-top:86px;padding-bottom:95px;background:#f8f8fa;}
.logicel-detail-page .logicel-top-sec-img-inner img{box-shadow:0 50px 64px 0px rgb(38 27 9 / 40%);border-radius:39px;}
.logicel-detail-page .logicel-fonn-desc{max-width:577px;}
.logicel-logo-wrap{padding-bottom:25px;}
.logicel-product-top-subdesc{margin-bottom:20px;}
.logicel-product-desc{max-width:520px;}
.logicel-detail-page .advantage-section{padding-bottom:156px;}

/* listing */
.view-materiel-grand-format-listing{padding-top:37px;padding-bottom:100px;}
.produit-content-wrap,.material-pager-wrap{display:flex;}
.consommable-list-page .meterial-listing{padding-top:37px;padding-bottom:100px;}
.view-materiel-grand-format-listing .view-filters,.produit-filter-wrap{width:345px;flex:0 0 auto;}
.view-materiel-grand-format-listing .view-content{width:100%;}
.view-materiel-grand-format-listing .view-filters .views-exposed-form .form-item .form-radio{-webkit-appearance:button;-moz-appearance:button;-o-appearance:button;-ms-appearance:button;appearance:button;display:none;}
.view-materiel-grand-format-listing .form-check{padding-left:0;margin-bottom:8px;}
.view-materiel-grand-format-listing .view-filters .form-check-label,.view-materiel-grand-format-listing .product-cate-encrs-link,.view-taxonomy-produit-filter .view-content a{font-size:16px;color:#292929;cursor:pointer;transition:all 0.3s ease;line-height:16px;}
.view-materiel-grand-format-listing .form-row>fieldset{margin-bottom:0!important;}
.view-materiel-grand-format-listing .form-row .form-actions{display:none;}
.view-materiel-grand-format-listing .form-check.selected .form-check-label,.view-materiel-grand-format-listing .form-check .form-check-label:hover,.view-materiel-grand-format-listing .product-cate-encrs-link:hover,.view-taxonomy-produit-filter .view-content a:hover,.node--type-consommable-landing-page .view-taxonomy-produit-filter .view-content a.product-cate-encrs-link{border-left:solid 2px #eaa022;color:#eaa022;padding-left:9px;font-weight:bold;transition:all 0.3s ease;}
.view-materiel-grand-format-listing .product-cate-encrs-link{padding-left:7px;display:block;}
.view-materiel-grand-format-listing .view-header,.view-taxonomy-produit-filter .view-header{display:none;}
.product-item-cat{letter-spacing:1.5px;color:#292929;font-size:12px;font-weight:bold;text-transform:uppercase;padding-bottom:17px;}
.product-item-desc{font-size:16px;line-height:1.5;color:#5e5e5e;max-width:261px;padding-bottom:20px;}
.product-list-item{padding-bottom:45px;}
.material-list-page-wrap .form-required::after,.view-materiel-grand-format-listing .form-check:first-child{display:none;}
.product-item-img img{padding-bottom:15px;}
.view-materiel-grand-format-listing .pagination,.produit-content-block .pagination{padding:35px 0;}
.view-taxonomy-produit-filter .view-content a{margin:10px 0px;display:block;}
.service-item-text ul li::marker{color:#eaa022;font-size:13px;}
.service-item-text li{padding-bottom:10px;padding-left:10px;}

/* solution */
.solution-top-sec-img{padding:0;}
.solution-top-sec-wrap,.sol-list-wrap{align-items:center;}
.solution-top-sec-img-inner img{width:100%;height:auto;}
.solution-top-sec-text{padding-left:140px;}
.solution-top-sec-text h2{max-width:476px;margin-bottom:25px;}
.solution-top-sec .solution-desc{max-width:520px;padding-bottom:30px;}
.solution-list-section{padding-top:134px;padding-bottom:30px;}
.sol-list-content h2{line-height:1.2;margin-bottom:30px;}
.sol-list-wrap{padding-bottom:110px;}
.sol-list-wrap:nth-child(even){flex-direction:row-reverse;}
.sol-list-desc{font-size:16px;line-height:1.5;}
.sol-list-content h2,.sol-list-content .sol-list-desc{max-width:567px;}
.solution-top-sec-wrap{background-color:#f8f8fa;}

/* formation */
.view-cours-listing .cour-wrap{background-color:#f8f8fa;padding:50px 17px 69px 112px;margin:0px 12px 30px 12px;}
.formation-content-block{padding-top:79px;padding-bottom:40px;}
.formation-detail-subtitle{margin-bottom:59px;}
.view-cours-listing .black-subtitle{padding-bottom:5px;}
.cours-list-wrap h2{margin-bottom:29px;}
.cours-item-desc h6{margin-bottom:30px;}
.cours-item-desc ul,.cours-content-desc ul{padding-left:17px;margin-bottom:20px;}
.cours-item-desc ul li::marker,.cours-content-desc ul li::marker{color:#eaa022;font-size:13px;}
.cours-item-desc li,.cours-content-desc li{padding-bottom:10px;padding-left:10px;}
.cours-item-desc{max-width:474px;}
.view-date-de-cours .view-header{padding-top:104px;}
.cours-list-wrap table{caption-side:top;}
.cours-list-wrap caption{font-size:18px;color:#292929;line-height:1.39;padding-bottom:23px;font-weight:bold;}
.cours-list-wrap .disponibilite{display:flex;}
.cours-list-wrap .table-striped>tbody>tr:nth-of-type(odd){--bs-table-accent-bg:transparent;}
.cours-list-wrap tr{background:transparent;}
.cours-list-wrap .table>:not(caption)>*>*{background-color:transparent;padding:0;}
.cours-list-wrap tr td,.cours-list-wrap tr th{border:none;}
.cours-list-wrap .disponibilite{font-size:16px;color:#5e5e5e;line-height:1.5;padding-bottom:15px;}
.cours-list-wrap .date-cours{font-weight:bold;width:120px;}
.view-date-de-cours{margin-left:30px;}
.black-cours-contact-block{padding-top:25px;padding-bottom:47px;}
.black-cours-contact-text{max-width:477px;}
.search-text{margin-bottom:0;}
.black-cours-contact-subtitle{font-size:20px;line-height:normal;padding-bottom:24px;max-width:390px;}

/* cours */
.cours-title-warp .black-subtitle{padding-bottom:0;padding-top:59px;}
.cours-title-warp h1{margin-bottom:55px;}
.cours-back-link{padding-top:43px;display:inline-block;}
.yellow-arrow-link{font-size:20px;line-height:1.3;color:#eaa022;font-weight:bold;display:flex;}
.yellow-arrow-link:before{content:"";display:block;background:url(../images/icon-arrow-left-yellow.svg) no-repeat;width:24px;height:24px;flex:0 0 auto;transition:all 0.3s ease;position:relative;left:0;}
.yellow-arrow-link:hover:before{transition:all 0.3s ease;left:-17px;}
.yellow-arrow-link:hover{color:#292929;}
.yellow-arrow-link span{margin-left:7px;transition:all 0.3s ease;}
.cours-content-wrap .cours-content-img img{box-shadow:15px 45px 44px 0 #0a080842;border-radius:39px;}
.cours-prix-inner-wrap{background-color:#eaa022;padding:72px 30px;color:#ffffff;margin:0;}
.cours-prix-inner-wrap h6{color:#ffffff;}
.cours-prix{padding-top:42px;}
.cours-content-wrap{padding-bottom:80px;}
.cours-content-desc{padding-right:40px;}
.cours-content-desc h6{margin-bottom:16px;}
.consommable-top-sec-text h2{max-width:350px;margin-bottom:30px;}
.consommable-top-sec{padding:139px 0px 109px 0px;background-color:#f8f8fa;}
.command-line-section-wrap{padding-bottom:53px;}
.command-line-section h1{padding-top: 25px;}
.vos-coordonnees-wrap{background-color:#f8f8fa;padding-top:68px;}
.voo-cord-desc-wrap h2{margin-bottom:20px;}
.voo-cord-desc{max-width:440px;padding-bottom:45px;}
.form-select{background:url(../images/icon-chevron-down-select.svg) no-repeat;background-position:right 0.75rem center;color:rgb(94 94 94 / 70%);}
.form-select:focus{border-color:#eaa022;box-shadow:none;}
.vos-product-inquiry-form .webform-submission-form textarea.form-control{height:110px;}
.vos-product-inquiry-form .form-wrapper{margin-bottom:0!important;}
.consommable-top-sec-wrap{align-items:center;}

/*.tranformcss{transform: translate3d(-400px, 0, 0);height: 100vh;    position: absolute!important;   top: 0!important;}*/
/*.node--type-materiel-landing-page .ultimenu .ultimenu__item.has-ultimenu:nth-child(2) .ultimenu__link,.node--type-services .ultimenu .ultimenu__item.has-ultimenu:nth-child(2) .ultimenu__link{background:rgb(234 160 34 / 20%);color:#eaa022;}
.node--type-materiel-landing-page .ultimenu .ultimenu__item.has-ultimenu:nth-child(2) .ultimenu__link:after,.node--type-services .ultimenu .ultimenu__item.has-ultimenu:nth-child(2) .ultimenu__link:after{border:solid #eaa022;border-width:0 1px 1px 0;display:inline-block;}*/
.ultimenu-active-parent{background:rgb(234 160 34 / 20%);color:#eaa022;}
.ultimenu .ultimenu-active-parent span.ultimenu__link{color:#eaa022;}
.ultimenu .ultimenu-active-parent span.ultimenu__link:after{border:solid #eaa022;border-width:0 1px 1px 0;display:inline-block;}
.ultimenu__item ul.nav .nav-link.active{border-left:solid 2px #eaa022;padding-left:9px;}
input[type="search"i]::-webkit-search-cancel-button{display:none;}
.submenu-level2{animation-duration:0.6s;animation-name:slidein;}
.animation-out{animation-duration:0.6s;animation-name:slideout;}
@keyframes slidein{
	from{margin-left:100%;width:300%;}
	to{margin-left:0%;width:100%;}
}
@keyframes slideout{
	from{margin-left:0%;width:100%;}
	to{margin-left:100%;width:300%;}
}
input::-webkit-inner-spin-button {-webkit-appearance:none;appearance:none;}
.product-list-wrapper input[type=number]{-moz-appearance:textfield;width: 60px;height: 45px;  text-align: center;border-radius: 10px; border: solid 1px #c3c5d4;    margin: 0px 15px;color: #c3c5d4;}
/*input::-webkit-inner-spin-button,input::-webkit-outer-spin-button,input::-moz-inner-spin-button,input::-moz-outer-spin-button{-webkit-appearance:none;appearance:none;}*/

.product-list-wrapper{background: #ffffff;}
.product-list-wrapper table{caption-side: top;max-width: 1100px;}
.product-list-wrapper .table-responsive{max-width: 1320px;margin: 0 auto;     margin-bottom: 167px;   padding-bottom: 60px;}
.product-list-wrapper caption{font-size: 35px; letter-spacing: -0.8px; color: #292929; line-height: 1.2;font-weight: bold;padding-top: 73px;padding-bottom: 60px;}
.product-list-wrapper table tr th{background: none;font-size: 18px; letter-spacing: -0.41px; color: #292929;white-space: nowrap;padding: 18px 90px 25px 0;}
.product-list-wrapper tr td{    padding: 18px 0 17px 0;}
.product-list-wrapper tr td:nth-child(2),.product-list-wrapper table tr th:nth-child(2){padding-left: 90px;}
.product-list-wrapper table tr,.product-list-wrapper table tr.odd{background: transparent;}
.product-list-wrapper .table>:not(caption)>*>*{box-shadow: none;    vertical-align: middle;}
.product-list-wrapper fieldset.form-type-number{display: flex;    margin-bottom: 0!important;  align-items: center;padding-left: 5px;}
.product-list-wrapper tr td,.product-list-wrapper tr th{border-left: none;border-right: none;border-top: none;border-bottom: solid 1px rgb(167 172 198 / 25%);}
.product-list-wrapper .table>:not(:last-child)>:last-child>*{border-bottom-color:rgb(167 172 198 / 25%);}
.product-list-wrapper .form-control{    height: auto;    border-bottom: none;    padding: 0;}
.product-list-wrapper .form-number.form-control:focus{border: solid 1px #eaa022;    color: #292929;font-weight: bold;}
.product-list-wrapper table td .title{  font-size: 16px;font-weight: bold; line-height: 1.5;}
.product-list-wrapper table td .price{font-size: 16px;font-weight: 500;}
.product-list-wrapper table .dec,.product-list-wrapper table .inc{color: #c3c5d4;font-size: 16px; font-weight: 500;cursor: pointer;}
.product-list-wrapper .form-type-textfield{margin-bottom: 0!important;}
.product-list-wrapper input[type=number].number-hover{color: #292929;font-weight: bold;}
.product-list-wrapper .form-type-textfield .form-control{ font-size: 18px;color: #eaa022;line-height: 1.33;font-weight: bold;}
.product-list-wrapper .final-total-label{font-size:22px;line-height:1.27;letter-spacing:-0.5px;color:#292929;font-weight:bold;}
.product-list-wrapper .form-type-textfield #final-total-price.form-control{line-height:1.27;letter-spacing:-0.5px;text-align:right;color:#eaa022;font-size:22px;font-weight:bold; text-align: left;}
.product-list-wrapper table tbody tr:last-child td{border-bottom: solid 1px #ffffff;    padding-top: 30px;}
.product-list-wrapper table tbody tr td:last-child{width: 150px;}
.vos-product-inquiry-form .webform-submission-form{position: relative;}
.vos-product-inquiry-form .webform-submission-form .form-actions { position: absolute; bottom: 0; z-index: 999; max-width: 1340px; left: 0; right: 0; margin: 0 auto; padding-right: 490px;    padding-right: 267px;}
.vos-product-inquiry-form .webform-button--submit, .layout-region-node-footer .btn-primary{padding:12px 30px;border-radius:23px;box-shadow:0 20px 40px 0 rgba(101,72,25,0.4);background-color:#eaa022;font-size:16px;line-height:normal;text-align:center;color:#fff;display:inline-block;font-weight:500;    border-color: #eaa022;width: 280px;}
.vos-product-inquiry-form .webform-button--submit:hover,.layout-region-node-footer .btn-primary:hover{box-shadow:none;color:#fff;}
.alert-wrapper{position: relative!important;}
.vos-product-inquiry-form .webform-submission-form .form-wrapper .form-item-commentaire{padding-bottom: 65px;}

.cours-webform-section .form-wrapper > .fieldset-wrapper, .paragraphs-tabs-wrapper .paragraphs-subform{display: flex;flex-wrap: wrap;margin-bottom: 0!important;margin-left: -15px;margin-right: -15px;}
.cours-webform-section{background-color: #f8f8fa;padding-top: 70px;padding-bottom: 146px;}
.tabledrag-toggle-weight-wrapper{display: none;}
.cours-webform-section .layout-region-node-main{width: 100%;}
.cours-webform-section .field--name-field-entreprise, .cours-webform-section .field--name-field-email-personne-de-contact,.cours-webform-section .field--name-field-personne-de-contact, .cours-webform-section .field--name-field-telephone{width:50%;}
.cours-webform-section .fieldset-wrapper .form-wrapper, .cours-webform-section .paragraphs-subform .form-wrapper{padding-left: 15px;padding-right: 15px;}
.paragraphs-tabs-wrapper .table>:not(caption)>*>*{box-shadow: none;padding: 0;}
.paragraphs-tabs-wrapper tr.odd,.paragraphs-tabs-wrapper tr,.paragraphs-tabs-wrapper table tr th{background: transparent;}
.paragraphs-tabs-wrapper .table-responsive{    overflow-x: unset;}
.paragraphs-tabs-wrapper tr td, .paragraphs-tabs-wrapper tr th{border: none;}
.paragraphs-tabs-wrapper thead > tr{border-bottom: none;}
.paragraphs-tabs-wrapper .paragraphs-actions,.paragraphs-tabs-wrapper .paragraph-type--participant-block .field-multiple-drag, .paragraphs-tabs-wrapper .paragraph-top.add-above-off, .cours-webform-section .layout-region-node-secondary{display: none;}
.paragraphs-tabs-wrapper .paragraphs-subform .field--name-field-nom, .paragraphs-tabs-wrapper .paragraphs-subform .field--name-field-prenom{width: 39%;}
.paragraphs-tabs-wrapper .paragraphs-subform .field--widget-options-select{width: 22%;}
.paragraphs-tabs-wrapper .paragraphs-subform.width-sub .field--name-field-nom, .paragraphs-tabs-wrapper .paragraphs-subform.width-sub .field--name-field-prenom{width: 25%;}
.paragraphs-tabs-wrapper .paragraphs-subform.width-sub .field--widget-options-select{width: 25%;}
.paragraphs-tabs-wrapper > .form-item .clearfix{font-size: 0;    padding-top: 10px;padding-bottom: 15px;}
.cours-webform-section .paragraphs-dropbutton-wrapper .btn-primary{background-color:transparent;border-color:transparent;color:#eaa022;font-size:20px;font-weight:bold;display:flex;align-items:center;padding: 0;}
.cours-webform-section .paragraphs-dropbutton-wrapper .btn-primary:before{content:"";display:block;background:url(../images/plus-icon-yellow.svg) no-repeat;width:22px;height:24px;    margin-right: 10px;}
.cours-webform-section .form-control{height:60px;border:0;border-radius:0;border-bottom:1px solid #5e5e5e;font-size:18px;font-weight:300;padding:1rem 0;background:transparent;padding-left: 3px;}
.cours-webform-section .form-control:focus{border-bottom-color:#eaa022;box-shadow:none;}
.cours-webform-section label{font-weight:300;color:rgb(94 94 94 / 70%);padding-left: 0;padding-right: 0;font-size: 18px;}
.cours-webform-section .layout-region-node-footer .btn-primary{width: auto;}
.cours-webform-section .layout-region-node-main legend .fieldset-legend, .cours-webform-section .field-multiple-table thead h4{font-size:22px;line-height:1.27;letter-spacing:-0.5px;color: #292929;font-weight:bold;display: block;}
.cours-webform-section .layout-region-node-main legend .fieldset-legend{padding-top:25px; padding-bottom: 10px;}
.cours-webform-section .field--name-field-cours{display: none;}
.paragraph-type--participant-block .form-wrapper{margin-bottom: 0!important;}
.layout-region-node-footer .form-actions{text-align: left;}
.cours-webform-section .form-select{  padding-right: 50px;}
.cours-webform-section .form-type-select label{display: none;   }
.cours-webform-section .form-info{    position: absolute; max-width: 523px;}
.node-inscription-cours-form.node-form{    position: relative;}
.node-inscription-cours-form.node-form .form-info{position:absolute;max-width:523px;bottom:-70px;font-size:14px;color:#969696;font-style: italic;}
.cours-webform-section .form-required::after{background: url(../images/required-icon.svg) no-repeat;    background-size: 7px 7px; margin-left: 2px;    position: relative; top: 2px;}
.cours-webform-section .form-floating{margin-bottom: 0!important;}
.cours-webform-section .field-multiple-table thead h4{padding-top: 20px;}
.ultimenu .block-menu span.nav-link:hover, .ultimenu__item ul.nav span.nav-link:hover{ border-left: none;padding-left: 0px;color: #292929; }
.confirmation-page{padding-top: 100px;padding-bottom: 150px;}
.confirmation-box{ background: #f8f8fa;    padding: 55px 100px 57px 100px;min-width: 708px;}
.confirmation-title{ padding-top: 11px; margin-bottom: 10px; line-height: 1.2;}
.confirmation-desc{padding-bottom: 26px;font-size: 16px;}
@keyframes fadeIn {  from { opacity: 0; } }
.scroll-btn-wrap .scroll-icon{position:relative;display:inline-block;}
.scroll-btn-wrap .scroll-icon:after{content:"";display:inline-block;width:16px;height:16px;background:#ffffff;position:absolute;left:14px;top:19px;border-radius:20px;animation: fadeIn 1s infinite alternate;}
.mate-cons-back-link{padding-top: 23px;}
.material-grand-page .field--type-text-with-summary p, .command-line-section .field--type-text-with-summary p{display: inline-block;}
.search-block-form .content.container-inline,.search-block-form .content.container-inline .search-form.search-block-form,.search-block-form .content.container-inline .form-type-search{width: 100%;}
.page-node-210 .alert-wrapper{ display: none; }
.material-grand-page .services-lies-wrap .services-lies-item a{ margin-top: 15px; }
.logicel-detail-page .services-lies-wrap .services-lies-item a{ margin-top: 15px; }
.services-lies-link-log .propos-para-text{ color: #5e5e5e;}
.services-lies-link-log .yellow-text-link{padding-top: 15px;}
.services-lies-link-log:hover .yellow-text-link{color:#292929;}
.services-lies-link-log:hover .yellow-text-link:after{margin-left:16px;transition:all 0.3s ease;}
.view-date-de-cours .view-content{flex-direction: row-reverse;}
